{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">记录你的学习经验</h1>

    <p class="lead">让你的学习经验记录在这里，分享给其他人，帮助你更好的学习！</p>

    {% if user.is_authenticated %}
      <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}" role="button">开始吧 &raquo;</a>
    {% else %}
      <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">现在开始 &raquo;</a>
    {% endif %}
  </div>
{% endblock page_header %}

{% block content %}
  <h3>欢迎来到学习日志！</h3>

  <p>公开主题:</p>
  <ul>
    {% for topic in topics %}
      <li>
        <h4>{{ topic.text }}</h4>
        <h6>发布于 {{ topic.date_added|date:'M d, Y H:i' }}</h6>
      </li>
    {% empty %}
      <li>暂时没有公开主题。</li>
    {% endfor %}
  </ul>

  <p>最新公开条目:</p>
  <ul>
    {% for entry in entries %}
      <div class="card mb-3">
        {% if not entry.topic.private %}
        <h4 class="card-header">{{ entry.topic.text }}</h4>
        {% else %}
            <h4 class="card-header">私密主题</h4>
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ entry.text|linebreaks }}</p>
          <p class="card-text">发布于 {{ entry.date_added|date:'M d, Y H:i' }}</p>
        </div>
      </div>
    {% empty %}
      <li>暂时没有公开条目。</li>
    {% endfor %}
  </ul>
{% endblock content %}