{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h3>{{ topic }}</h3>
  <div class="btn-group">
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">添加新条目</a>
  </p>
  </div>
{% endblock page_header %}

{% block content %}

  <h4>条目列表</h4>
  <ul>
  {% for entry in entries %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">编辑条目</a></small>
        <samll>
          <a href="{% url 'learning_logs:delete_entry' entry.id %}">删除条目</a>
        </samll>
        <small>
          <a href="{% url 'learning_logs:share_entry' entry.token %}" class="btn btn-sm btn-outline-secondary">分享链接</a>
        </small>
      </h4>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>还没有任何条目~</p>
  {% endfor %}

{% endblock content %}
