{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>所有主题</h1>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li><h3>
        <a href="{% url 'learning_logs:topic' topic.id %}" class="text-title">{{ topic }}</a>
        <small>
		  <a href="{% url 'learning_logs:edit_topic' topic.id %}" class="btn-action edit">编辑主题</a>
          <a href="{% url 'learning_logs:delete_topic' topic.id %}" class="btn-action del">删除主题</a>
		</small>
      </h3></li>
    {% empty %}
      <li><h3>还没有添加任何主题。</h3></li>
    {% endfor %}
  </ul>

  <h2><a href="{% url 'learning_logs:new_topic' %}" class="btn-action new">添加新主题</a></h2>

{% endblock content %}
